
{% extends 'base.html' %}

{% block content %}
<h1>Cart</h1>

{% if cart.products.exists %}
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Product Price</th>
            </tr>
        </thead>

        <tbody>
            {% for object in cart.products.all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href='{{object.get_absolute_url}}'>{{ object.title }}</a>{% include 'products/snippets/update-cart.html' with product=object cart=cartObj inCart=True %}</td>
                    <td>{{object.price }}</td>
                </tr>
            {% endfor %}

            <tr>
                <td colspan="2"></td>
                <td><strong>Subtotal</strong>  {{ cart.subTotal }}</td>
            </tr>

            <tr>
                <td colspan="2"></td>
                <td><strong>Total</strong>  {{ cart.total }}</td>
            </tr>

            <tr>
                    <td colspan="2"></td>
                    <td><a href='{% url "carts:checkout" %}' class="btn btn-success btn-lg">Checkout</a></td>
                </tr>
        </tbody>
    </table>
{% else %}
    Cart Is Empty!
{% endif %}



{% endblock content %}