{% url 'home' as homeUrl %}
{% url 'contact' as contactUrl %}
{% url 'products:list' as productsUrl %}
{% url 'login' as loginUrl %}
{% url 'register' as registerUrl %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
<div class="container">
  <a class="navbar-brand" href="{{homeUrl}}">
   <img src="https://www.getbootstrap.com/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
    {% if brandName %}  &nbsp;{{ brandName }} {% else %} Django eCommerce {% endif %}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% if request.path == homeUrl %}active{% endif %}">
        <a class="nav-link" href="{{homeUrl}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% if request.path == contactUrl %}active{% endif %}">
        <a class="nav-link" href="{{contactUrl}}">Contact</a>
      </li>
      
      <li class="nav-item {% if request.path == productsUrl %}active{% endif %}">
        <a class="nav-link" href="{{productsUrl}}">Products</a>
      </li>
      {% if request.user.is_authenticated %}
        <li class="nav-item {% if request.path == loginUrl %}active{% endif %}">
         <a class="nav-link" href="/admin/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item {% if request.path == registerUrl %}active{% endif %}">
         <a class="nav-link" href="{{registerUrl}}">Register</a>
        </li>
        <li class="nav-item {% if request.path == loginUrl %}active{% endif %}">
         <a class="nav-link" href="{{loginUrl}}">Login</a>
        </li>
      {% endif %}
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  </div>
</nav>